<h1 class="center"> Math Stars </h1>
<p class="center">This is the home page.</p>

{{!-- <div class="center">
    <p> Here are the existing chatrooms: </p>
    <p id="chatroomsHidden"> {{ rooms }}</p>
    <div>
        <ul class="list-group" id="chatroomsList"> </ul>
    </div>
</div>

<div class="center">
    <form action="/createRoom">
        <input type="submit" class="btn btn-primary" value="Create a new chatroom!"/>
    </form>
</div> --}}


<script src="/js/home.js"></script>
